section{  
      
}


.kopf{
    height:20vh ;
}

.logo{
    height: 20vh;
}

.color1{
    
    background-position-x: unset;
    background-color:rgb(189, 172, 204)
}

.color1:hover {
    background-color:palegoldenrod ;
}

h1{
    size: 90vh;
}

