html, body{
    font-family: 'Archivo Black', sans-serif;;
}



.logo{
    height: 30vh;
}

h1{
    size: 50vh;
}

.mum{
    height: 20vh;
    width: 20vh;
    margin: auto auto;
    background-color: whitesmoke;
    border-top: black;
    border-bottom: black;
    border-right: black;
    border-left: black;
}

.kid{
    height: 15vh;
    width: 15vh;
    margin: auto auto;
    
}






