html, body{
    font-family: 'Archivo Black', sans-serif;
}



.logo{
    height: 20vh;
}

h1{
    size: 50vh;
}

.mum{
    height: 30vh;
    width: 20vh;
    margin: auto auto;
    background-color: rgb(226, 206, 238);
    border-top: black;
    border-bottom: black;
    border-right: black;
    border-left: black;
}

.mum :hover{
    background-color: rgb(202, 218, 208);
}

.kid{
    font-family: 'Anton', sans-serif;
    height: 30vh;
    width: 20vh;
    margin: auto auto;

}

.kiste{
    height: 60vh;
    width: max-content;
    background-color: lavender;
}





